$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//z-index
$z-fixed-menu: 100;

//colors
$red: #e01f3d;
$grey: #f8faf9;
$black: #292929;
$red__hover: #ca1b36;

@import "./css/components/media";

@import "./css/normalize.css";
@import "./css/components/layout";
@import "./css/components/hero";
@import "./css/components/header";
@import "./css/components/features";
@import "./css/components/feature__icon";
@import "./css/components/btn";
@import "./css/components/section";
@import "./css/components/benefits";
@import "./css/components/benefit";
@import "./css/components/slider";
@import "./css/components/slider-popup";
@import "./css/components/reviews";
@import "./css/components/interactive-avatar";
@import "./css/components/order-section";
@import "./css/components/form";
@import "./css/components/radio";
@import "./css/components/map";
@import "./css/components/footer";
@import "./css/components/social";
@import "./css/components/fixed-menu";
@import "./css/components/hamburger-menu";
