@import "./css/normalize.css";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: play, sans-serif;
  margin: 0;
  line-height: 1.42;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

a {
  color: #292929;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

.wrapper {
  min-width: 960px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

p {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(./img/bm.png) right 25% center no-repeat;
  background-color: #f8faf9;
  height: 100vh;
  min-height: 650px;
  color: #292929;
  position: relative;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
}

.hero__title-section {
  width: 46%;
}

.hero__main-title {
  line-height: 1.2;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 36px;
  padding-right: 10%;
}

.rec {
  width: 46px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #c4c4c4;
  z-index: 3;
  position: absolute;
  right: 20%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 15px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-tel {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.logo {
  width: 40px;
  height: 40px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 8px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}

.feature__text {
  max-width: 114px;
}

.btn {
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #e01f3d;
  padding: 21px 41px;
  border-radius: 100px;
  border: none;
}
.btn:hover {
  background-color: #ca1b36;
}
.btn--theme--txtbtn {
  background-color: transparent;
  color: #fff;
}
.btn--theme--txtbtn:hover {
  color: #ca1b36;
  background-color: transparent;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section__title {
  margin-bottom: 54px;
  text-align: center;
}
.section__title--white {
  color: #fff;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  text-align: center;
  padding: 0 20%;
  color: #666;
  margin-bottom: 62px;
}

.tre {
  border: 34px solid transparent;
  border-bottom: 50px solid #e01f3d;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: 3;
  position: absolute;
  bottom: -20px;
  left: 20%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url(./img/shape1.png);
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  background: #f8faf9;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  margin-top: 24px;
  margin-bottom: 7px;
}

.benefit__desc {
  color: #666;
}

.reviews__display {
  background-color: #f8faf9;
  padding: 42px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: -65px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__title {
  margin-bottom: 27px;
}

.reviews__text {
  margin-bottom: 38px;
  color: #666;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #868686;
  z-index: 3;
  position: absolute;
  left: 20%;
  bottom: 0;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
}
.interactive-avatar--active {
  border: 4px solid #e01f3d;
}
.interactive-avatar:last-child {
  margin-right: 0;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__section {
  height: 100vh;
  min-height: 650px;
  background: url(./img/cta.png) center no-repeat;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 12px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 19px 12px;
  border: solid 4px transparent;
  border-radius: 4px;
}
.form__input--textarea {
  height: 164px;
  resize: none;
}
.form__input:focus {
  border-color: #e01f3d;
  outline: none;
}

.form__title {
  color: #fff;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 20px;
  margin-bottom: 24px;
}
.radio--checkbox .radio__visible {
  border-radius: 2px;
}
.radio--checkbox .radio__visible:before {
  background: url(./img/checkmark.png) center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background: #fff;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 14px;
  height: 14px;
  background: #e01f3d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  color: #fff;
  margin-left: 10px;
}

.radio--checkbox {
  margin-bottom: 46px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 13px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background-color: #e01f3d;
}

.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: #c9c9c9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}