@import "./css/normalize.css";
.hamburger {
  width: 26px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

html {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: play, sans-serif;
  margin: 0;
  line-height: 1.42;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  color: #292929;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

p {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(./img/bm.png) right 25% center no-repeat;
  background-color: #f8faf9;
  height: 100vh;
  min-height: 40.625rem;
  color: #292929;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url(./img/bm.png) top 15% center no-repeat;
    background-color: #f8faf9;
    background-size: 20.1875rem;
    min-height: 48rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background: url(./img/bm.png) top 10% center no-repeat;
    background-color: #f8faf9;
    background-size: 18.75rem;
    min-height: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .hero:before {
    display: none;
  }
}
.hero:before {
  content: "";
  width: 2.875rem;
  height: 0.625rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #c4c4c4;
  z-index: 3;
  position: absolute;
  right: 20%;
  bottom: 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 3.125rem;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 50%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    padding-top: 75%;
  }
}

.hero__main-title {
  line-height: 1.2;
  margin-bottom: 1.375rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 32px;
    padding: 0 10%;
  }
}

.hero__title-desc {
  font-size: 1.3125rem;
  margin-bottom: 2.25rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 20%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 10%;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  margin: 0 50px;
  padding-top: 3px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  white-space: nowrap;
}

.menu__item {
  margin-bottom: 10px;
  margin-right: 0.9375rem;
}
.menu__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-tel {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.125rem;
}

.phone-number__text {
  white-space: nowrap;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 0.5rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5625rem;
  height: 2.5625rem;
  margin-right: 0.6875rem;
}

.feature__text {
  max-width: 7.125rem;
}

.btn {
  line-height: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #e01f3d;
  padding: 1.3125rem 2.5625rem;
  border-radius: 6.25rem;
  border: none;
}
.btn:hover {
  background-color: #ca1b36;
}
.btn--theme--txtbtn {
  background-color: transparent;
  color: #fff;
}
.btn--theme--txtbtn:hover {
  color: #ca1b36;
  background-color: transparent;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section {
    min-height: 48.375rem;
  }
}

.section__title {
  margin-bottom: 3.375rem;
  text-align: center;
}
.section__title--white {
  color: #fff;
}

.headline__title {
  margin-bottom: 1.125rem;
}

.headline__subtitle {
  text-align: center;
  padding: 0 20%;
  color: #666;
  margin-bottom: 3.875rem;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section__benefits {
  position: relative;
}
@media screen and (max-width: 480px) {
  .section__benefits {
    min-height: 44.375rem;
  }
}
@media screen and (max-width: 768px) {
  .section__benefits:before {
    display: none;
  }
}
.section__benefits:before {
  content: "";
  border: 2.125rem solid transparent;
  border-bottom: 3.125rem solid #e01f3d;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: 3;
  position: absolute;
  left: 20%;
  bottom: 0;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:before {
  content: url(./img/shape1.png);
  position: absolute;
  top: 3.125rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 10%;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background: #f8faf9;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  margin-top: 1.5rem;
  margin-bottom: 0.4375rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-top: 0;
  }
}

.benefit__desc {
  color: #666;
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .section__reviews {
    min-height: 50rem;
  }
}

.reviews__display {
  background-color: #f8faf9;
  padding: 2.625rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: -4.0625rem;
}
@media screen and (max-width: 768px) {
  .reviews__display:before {
    left: 37%;
  }
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  margin-bottom: 1.6875rem;
}

.reviews__text {
  margin-bottom: 2.375rem;
  color: #666;
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
}

.section__reviews {
  position: relative;
}
.section__reviews:before {
  content: "";
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background-color: #868686;
  z-index: 3;
  position: absolute;
  left: 20%;
  bottom: -1rem;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-top: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.375rem;
}
.interactive-avatar--active {
  border: 0.25rem solid #e01f3d;
}
.interactive-avatar:last-child {
  margin-right: 0;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__section {
  height: 100vh;
  min-height: 40.625rem;
  background: url(./img/cta.png) center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .order__section {
    min-height: 60.375rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.625rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.875rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.75rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.1875rem 0.75rem;
  border: solid 0.25rem transparent;
  border-radius: 0.25rem;
}
.form__input--textarea {
  height: 10.25rem;
  resize: none;
}
.form__input:focus {
  border-color: #e01f3d;
  outline: none;
}

.form__title {
  color: #fff;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.25rem;
  margin-bottom: 1.5rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.125rem;
}
.radio--checkbox .radio__visible:before {
  background: url(./img/checkmark.png) center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  position: relative;
  background: #fff;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 0.875rem;
  height: 0.875rem;
  background: #e01f3d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  color: #fff;
  margin-left: 0.625rem;
}

.radio--checkbox {
  margin-bottom: 2.875rem;
}

.section__map {
  background: url(./img/map.png) center no-repeat;
  background-size: cover;
  min-height: 40.75rem;
}

.section__footer {
  min-height: 5.375rem;
}
@media screen and (max-width: 480px) {
  .section__footer {
    min-height: 9.375rem;
  }
}

.footer {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 15px;
}
.social__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .social__item {
    margin-top: 10px;
  }
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.8125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background-color: #e01f3d;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: #c9c9c9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}