.benefit {
  text-align: center;
  @include phones {
    display: flex;
    text-align: left;
    align-items: center;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  background: $grey;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.benefit__icon {
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__text {
  margin-top: rem(24px);
}
.benefit__title {
  margin-bottom: rem(7px);
  @include phones {
    margin-top: 0;
  }
}
.benefit__desc {
  color: #666;
}
.benefit__image {
  @include phones {
    margin-right: 20px;
  }
}
