.btn {
  line-height: rem(18px);
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: $red;
  padding: rem(21px) rem(41px);
  border-radius: rem(100px);
  border: none;
  &:hover {
    background-color: $red__hover;
  }
  &--theme--txtbtn {
    background-color: transparent;
    color: #fff;
    &:hover {
      color: $red__hover;
      background-color: transparent;
    }
  }
}
