.footer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include phones {
    flex-direction: column;
    align-items: center;
  }
}
.phone-number_footer {
  @include phones {
    display: flex;
    justify-content: center;
  }
}
.contacts__adress {
  @include phones {
    text-align: center;
  }
}
