.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: rem(15px);
}
.interactive-avatar {
  width: rem(74px);
  height: rem(74px);
  border: rem(4px) solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  align-items: center;
  margin-right: rem(6px);
  &--active {
    border: rem(4px) solid $red;
  }
  &:last-child {
    margin-right: 0;
  }
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
