html {
  font-size: $baseFontSize;
}
* {
  box-sizing: border-box;
}
body {
  font-family: play, sans-serif;
  margin: 0;
  line-height: 1.42;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: rem(48px);
  font-weight: bold;
  text-transform: uppercase;
  @include phones {
    font-size: rem(32px);
  }
}
h3 {
  font-weight: bold;
  font-size: rem(24px);
}
a {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.container {
  width: 95%;
  max-width: $containerWidth;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
}
p {
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
