.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(20px);
  margin-bottom: rem(24px);
  &--checkbox {
    .radio__visible {
      border-radius: rem(2px);
      &:before {
        background: url(./img/checkmark.png) center no-repeat;
      }
    }
  }
}
.radio__elem {
  display: none;
  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}
.radio__visible {
  width: rem(25px);
  height: rem(25px);
  border-radius: 50%;
  position: relative;
  background: #fff;
  &:before {
    content: "";
    display: none;
    width: rem(14px);
    height: rem(14px);
    background: $red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.radio__title {
  color: #fff;
  margin-left: rem(10px);
}
.radio--checkbox {
  margin-bottom: rem(46px);
}
