.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section__title {
  margin-bottom: 54px;
  text-align: center;
  &--white {
    color: #fff;
  }
}
.headline__title {
  margin-bottom: 18px;
}
.headline__subtitle {
  text-align: center;
  padding: 0 20%;
  color: #666;
  margin-bottom: 62px;
}

.tre {
  border: 34px solid transparent;
  border-bottom: 50px solid $red;
  transform: rotate(60deg);
  z-index: 3;
  position: absolute;
  bottom: -20px;
  left: 20%;
}
